*{
    padding: 0px;
    margin: 0px;
}
.banner-container{
    height: 100vh;
    background-image: url("./images/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}